<html>
  <head>
    <link rel="icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAADElEQVQI12P4//8/AAX+Av7czFnnAAAAAElFTkSuQmCC">

      <title>TensorFlow.js Tutorial</title>
    
      <!-- Import TensorFlow.js -->
      <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.0.0/dist/tf.min.js"></script>
      <!-- Import tfjs-vis -->
      <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-vis@1.0.2/dist/tfjs-vis.umd.min.js"></script>

  </head>
  <body>
    <h1>bicep curls Demonstration</h1>
    <img src="{{ url_for('video') }}">
    <a href="{{ url_for('workout_loader') }}">GO BACK</a>
    <p id="status">Loading Tensorflow.Js</p>
    <script type="text/javascript" src="url_for('static',filename='js/webstream.js')}}"></script>
    <script>
     const status = document.getElementById('status');
status.innerText = 'Loaded TensorFlow.js - version: ' + tf.version.tfjs;

    </script>
  </body>
</html>